## Ejercicios de Python Basico
**Carla Mayela De la Garza Fernandez 1729734
Mineria de Datos 012**

In [101]:
#Librerias necesarias para estos ejercicios
import math as m
import random as r

**Ejercicio 1**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [102]:
a = 1729734
print ('Carla De la Garza', a)

Carla De la Garza 1729734

**Ejercicio 2**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

[Link cómo imprimir un numero flotante con solo dos decimales](https://www.kite.com/python/answers/how-to-print-a-float-with-two-decimal-places-in-python#:~:text=Use%20str.,number%20with%20two%20decimal%20places)

In [103]:
num1 = float(input("Introduzca el primer numero: "))
num2 = float(input("Introduzca el segundo numero: "))

suma = num1+num2
resta = num1-num2
mult = num1*num2
div = num1/num2
exp1 = "{:.2f}".format(m.exp(num1))
exp2 = "{:.2f}".format(m.exp(num2))

print("Suma %.2f + %.2f = %.2f" %(num1, num2, suma))
print("Resta %.2f - %.2f = %.2f" %(num1, num2, resta))
print("Multiplicacion %.2f * %.2f = %.2f" %(num1, num2, mult))
print("Division %.2f / %.2f = %.2f" %(num1, num2, div))
print("Exponente %.2f = %s" %(num1, exp1))
print("Exponente %.2f = %s" %(num2, exp2))

Introduzca el primer numero: 30
Introduzca el segundo numero: 10
Suma 30.00 + 10.00 = 40.00
Resta 30.00 - 10.00 = 20.00
Multiplicacion 30.00 * 10.00 = 300.00
Division 30.00 / 10.00 = 3.00
Exponente 30.00 = 10686474581524.46
Exponente 10.00 = 22026.47

**Ejercicio 3**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [104]:
lista = []
suma_lista = 0
for i in range(1,11):
    lista.append(i*3)
print(lista)

for i in lista:
    suma_lista = suma_lista+i
print(suma_lista)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
165

**Ejercicio 4**

Con una función de if else, revisar si un número es par o es impar.

In [13]:
#Revisar si un numero es par o impar
num = int(input("Introduzca un numero: "))
if num % 2 == 0:
    print("El numero es par")
else:
    print("El numero es impar")

Introduzca un numero: 47
El numero es impar

Con una función de if else, revisar si un número es primo o no.

In [185]:
i = 0
num = int(input("Introduzca un numero entero mayor a 0:"))

cont = 0

for i in range(2, num):
    if num % i == 0:
        cont = cont + 1
    else:
        continue
        
if cont > 0:
    print("El numero no es primo")
elif cont == 0:
    print("El numero es primo")

Introduzca un numero entero mayor a 0:33
El numero no es primo

**Ejercicio 5**

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [106]:
def suma(x, y):
    suma = x + y
    print("Suma %.2f + %.2f = %.2f" %(x, y, suma))

def resta(x, y):
    resta = x - y
    print("Resta %.2f - %.2f = %.2f" %(x, y, resta))

def mult(x, y):
    mult = x * y
    print("Multiplicacion %.2f * %.2f = %.2f" %(x, y, mult))

def div(x, y):
    div = x / y
    print("Division %.2f / %.2f = %.2f" %(x, y, div))

def exponente(x, y):
    exp1 = m.exp(x)
    exp2 = m.exp(y)
    print("Exponente %.2f = %s" %(x, exp1))
    print("Exponente %.2f = %s" %(y, exp2))

num1 = float(input("Introduzca el primer numero: "))
num2 = float(input("Introduzca el segundo numero: "))
suma(num1, num2)
resta(num1, num2)
mult(num1, num2)
div(num1, num2)
exponente(num1, num2)

Introduzca el primer numero: 100
Introduzca el segundo numero: 50
Suma 100.00 + 50.00 = 150.00
Resta 100.00 - 50.00 = 50.00
Multiplicacion 100.00 * 50.00 = 5000.00
Division 100.00 / 50.00 = 2.00
Exponente 100.00 = 2.6881171418161356e+43
Exponente 50.00 = 5.184705528587072e+21

**Ejercicios Tuplas**

- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [107]:
var1 = 50.678
var2 = 10
var3 = False
var4 = 5j 
print("La primera variable es ", type(var1))
print("La segunda variable es ", type(var2))
print("La tercera variable es ", type(var3))
print("La cuarta variable es ", type(var4))

La primera variable es  <class 'float'>
La segunda variable es  <class 'int'>
La tercera variable es  <class 'bool'>
La cuarta variable es  <class 'complex'>

- Crear una tupla con valores enteros imprimir el primer y ultimo valor

In [108]:
t1 = (1, 2, 3, 4, 5, 6, 7)
print("El primer valor es %d y el ultimo valor es %d " %(t1[0], t1[-1]))

El primer valor es 1 y el ultimo valor es 7

- Añadir 3 valores de string a la tupla

In [109]:
t1 = t1.__add__(('Hola',))
t1 = t1.__add__(('como',))
t1 = t1.__add__(('estas?',))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 'Hola', 'como', 'estas?')

- Verificar si una variable existe dentro de la tupla

In [110]:
test = 'hola'
if test in t1:
    print("La variable si se encuentra en la tupla")
else:
    print("La variable no se encuentra en la tupla")

La variable no se encuentra en la tupla

**Listas**

- Crear una lista con 40 elementos aleatorios enteros.

[Link de como seleccionar elementos random enteros y solamente del 1-100](https://www.tutorialspoint.com/generating-random-number-list-in-python )

In [112]:
lista_random = []
for i in range(0, 40):
    lista_random.append(r.randint(1, 100))
print(lista_random)

[64, 1, 7, 63, 62, 13, 75, 9, 35, 82, 9, 84, 60, 48, 90, 4, 25, 66, 79, 18, 58, 88, 80, 56, 84, 46, 86, 45, 35, 64, 6, 17, 8, 38, 25, 3, 72, 63, 69, 4]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por 
numeros aleatorios, en la cual en una esten los elementos pares, y en la otra 
los elementos impares.

In [113]:
def clasificar_lista_random(lista_random):
    lista_par = []
    lista_impar = []
    for i in lista_random:
        if i % 2 == 0:
            lista_par.append(i)
        else:
            lista_impar.append(i)
    return lista_par, lista_impar

#Llamar a la funcion y pasar como parametro la lista_random
lista_par, lista_impar = clasificar_lista_random(lista_random)
print("Lista par:", lista_par)
print("Lista impar:", lista_impar)

Lista par: [64, 62, 82, 84, 60, 48, 90, 4, 66, 18, 58, 88, 80, 56, 84, 46, 86, 64, 6, 8, 38, 72, 4]
Lista impar: [1, 7, 63, 13, 75, 9, 35, 9, 25, 79, 45, 35, 17, 25, 3, 63, 69]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

[Link cómo retornar/devolver dos variables](https://www.geeksforgeeks.org/g-fact-41-multiple-return-values-in-python/)

In [114]:
len_par = len(lista_par)
len_impar = len(lista_impar)

print("Longitud de la lista par:", len_par)
print("Longitud de la lista impar:", len_impar)

Longitud de la lista par: 23
Longitud de la lista impar: 17

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor


[Link donde encontre el parametro reverse para la funcion **sort**](https://www.w3schools.com/python/ref_list_sort.asp)

In [115]:
lista_par.sort()
lista_impar.sort(reverse=True)
print("Lista par de mayor a menor", lista_par)
print("Lista impar de menor a mayor", lista_impar)

Lista par de mayor a menor [4, 4, 6, 8, 18, 38, 46, 48, 56, 58, 60, 62, 64, 64, 66, 72, 80, 82, 84, 84, 86, 88, 90]
Lista impar de menor a mayor [79, 75, 69, 63, 63, 45, 35, 35, 25, 25, 17, 13, 9, 9, 7, 3, 1]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos:

**Eliminar** el ultimo elemento de la lista

In [116]:
print("Elemento eliminado:", lista_random.pop())
print("Lista sin elemento eliminado:", lista_random)

Elemento eliminado: 4
Lista sin elemento eliminado: [64, 1, 7, 63, 62, 13, 75, 9, 35, 82, 9, 84, 60, 48, 90, 4, 25, 66, 79, 18, 58, 88, 80, 56, 84, 46, 86, 45, 35, 64, 6, 17, 8, 38, 25, 3, 72, 63, 69]

**Extender** la lista con nuevos elementos

In [117]:
lista_random.extend(['hola', 'mundo', 'prueba'])
print("Lista extendida:", lista_random)

Lista extendida: [64, 1, 7, 63, 62, 13, 75, 9, 35, 82, 9, 84, 60, 48, 90, 4, 25, 66, 79, 18, 58, 88, 80, 56, 84, 46, 86, 45, 35, 64, 6, 17, 8, 38, 25, 3, 72, 63, 69, 'hola', 'mundo', 'prueba']

**Insertar** un elemento en un lugar especifico de la lista

In [118]:
lista_random.insert(1, 'clase mineria')
print("Lista con elemento insertado:", lista_random)

Lista con elemento insertado: [64, 'clase mineria', 1, 7, 63, 62, 13, 75, 9, 35, 82, 9, 84, 60, 48, 90, 4, 25, 66, 79, 18, 58, 88, 80, 56, 84, 46, 86, 45, 35, 64, 6, 17, 8, 38, 25, 3, 72, 63, 69, 'hola', 'mundo', 'prueba']

**Eliminar** todos los elementos de la lista

In [119]:
lista_random.clear()
print("Lista eliminada:", lista_random)

Lista eliminada: []

**Ejercicios Diccionario**

- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad

In [120]:
dict1 = {'Carla': 21, 'Sofia': 25, 'Angeles':52, 'Martin':53, 'Marijose':22, 'Daniela':30}
print(dict1)

{'Carla': 21, 'Sofia': 25, 'Angeles': 52, 'Martin': 53, 'Marijose': 22, 'Daniela': 30}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor

[Link donde explica el parametro **reverse=True** dentro del metodo **sorted**](https://www.w3schools.com/python/ref_func_sorted.asp)

In [121]:
lista_sorted = sorted(list(dict1.values()), reverse=True)
print("Lista de menor a mayor:", lista_sorted)

Lista de menor a mayor: [53, 52, 30, 25, 22, 21]

- Usando el diccionario y un loop, imprimir solo los nombres

In [122]:
for i in dict1:
    print(i)

Carla
Sofia
Angeles
Martin
Marijose
Daniela

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [123]:
dict1['Paola'] = 26
dict1['Maria'] = 40
print("Diccionario con personas nuevas:", dict1)

Diccionario con personas nuevas: {'Carla': 21, 'Sofia': 25, 'Angeles': 52, 'Martin': 53, 'Marijose': 22, 'Daniela': 30, 'Paola': 26, 'Maria': 40}

**Ejercicios Sets**

- Crea un set con 100 numeros aleatorios enteros del 1 al 25

In [131]:
set1 = set()
for i in range(0, 100):
    set1.add(r.randint(1, 25))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

- Comprueba la longitud de tu set

In [132]:
print("La longitud del set es de", len(set1))

La longitud del set es de 24

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba
si cada valor aparece en el set inicial

In [133]:
lista_aleatoria = []
for i in range(0, 5):
    lista_aleatoria.append(r.randint(1, 10))
    
for i in lista_aleatoria:
    if i in set1:
        print("El elemento %d si aparece en el set inicial" %(i))
    else:
        print("El elemento %d no aparece en el set incial" %(i))
    
print(lista_aleatoria)

El elemento 6 si aparece en el set inicial
El elemento 9 si aparece en el set inicial
El elemento 8 si aparece en el set inicial
El elemento 8 si aparece en el set inicial
El elemento 3 si aparece en el set inicial
[6, 9, 8, 8, 3]